<%- include ('partials/header.ejs') %>

    <div class="container">
        <h1>Cadastrar novo filme:</h1>
        <form action="/filmes/new" method="post">
            <label>Título:</label>
            <input type="text" name="titulo" required>
            <label>Gênero:</label>
            <input type="text" name="genero" required>
            <label>Duração:</label>
            <input type="text" name="duracao" required>
            <input type="submit" value="Cadastrar">
            <input type="submit" value="Limpar">
        </form>
        <br><hr><br>
        <table>
            <thead>
                <th style="width: 150px; text-align: left;">Título:</th>
                <th style="width: 150px; text-align: left;">Gênero:</th>
                <th style="width: 150px; text-align: left;">Duração:</th>
                <th style="width: 150px; text-align: left;">Ações:</th>
            </thead>
            <tbody>
                <% filmes.forEach(filme => { %>
                <tr>
                    <td><%= filme.titulo %></td>
                    <td><%= filme.genero %></td>
                    <td><%= filme.duracao %></td>
                    <td><a onclick="return confirm('Deseja mesmo excluir o filme <%=filme.titulo %>?')" href="/filmes/delete/<%= filme.id %>">Excluir</a></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

<%- include ('partials/footer.ejs') %>