<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div class="container">
  <div class="card">
    <card-header>
      <p class="msg-card">Cadastrar Clientes</p>
    </card-header>

    <div class="card-body">
      <form action="/clientes/new" method="POST">
        <label>Nome do cliente:</label>
        <input type="text" name="nome" id="nome" placeholder="Insira o nome do cliente" class="form-control" required>

        <label>CPF do cliente:</label>
        <input type="text" name="cpf" id="CPF" placeholder="Insira o cpf do cliente" class="form-control" required>

        <label>Endereço do cliente:</label>
        <input type="text" name="endereco" id="endereco" placeholder="Insira o endereco do cliente" class="form-control" required>
        <br>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
<p class="msg">Clientes destaques do mês!</p>
<div class="linha"></div>

<table class="table table-hover" id="table-clientes">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Endereço</th>
        <th colspan="2">Ações:</th>
      </tr>
    </thead>
    <% cliente.forEach((cliente)=>{ %>
    <tbody>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.endereco %></td>
        <td><a style="color: green" href="/clientes/edit/<%= cliente.id %>">Editar</a></td>
        <td><a style="color: rgb(155, 10, 10);" href="/clientes/delet/<%= cliente.id %>" onclick="return confirm('Deseja mesmo deletar o cliente <%= cliente.nome %>?')">Deletar</a></td>
      </tr>
    <% }) %>
    </tbody>
  </table>
</div>
<%- include ('partials/footer.ejs') %>

